{%- unless product.has_only_default_variant -%}
  <variant-selects
    class="variant-picker"
    id="variant-selects-{{ section.id }}"
    data-change-url="{{ change_url }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        if swatch_count > 0
          assign picker_type = 'swatch'
        else
          assign picker_type = 'button'
        endif
      -%}

      <fieldset class="swatch" data-option-index="{{ forloop.index0 }}">
        <legend>
          {{ option.name }}:
          <span data-selected-value>
            {{- option.selected_value -}}
          </span>
        </legend>
        {% render 'product-variant-options', product: product, option: option, picker_type: picker_type %}
      </fieldset>
    {%- endfor -%}
    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
