<div class="footer__social">
  {%- if settings.social_facebook_link != blank -%}
    <a href="{{- settings.social_facebook_link -}}" target="_blank"><i class="fa fa-facebook"></i></a>
  {%- endif -%}
  {%- if settings.social_twitter_link != blank -%}
    <a href="{{- settings.social_twitter_link -}}" target="_blank"><i class="fa fa-twitter"></i></a>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <a href="{{- settings.social_youtube_link -}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <a href="{{- settings.social_instagram_link -}}" target="_blank"><i class="fa fa-instagram"></i></a>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <a href="{{- settings.social_pinterest_link -}}" target="_blank"><i class="fa fa-pinterest"></i></a>
  {%- endif -%}
</div>

