{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign product_form_id = 'product-form-' | append: section.id
-%}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="product-single">
        <!-- Start model close -->
        <a href="javascript:void()" data-dismiss="modal" class="model-close-btn pull-right" title="close">x</a>
        <!-- End model close -->
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="product-details-img">
              {%- if product.featured_image != blank -%}
              <img
                srcset="
                  {%- if product.featured_image.width >= 550 -%}{{ product.featured_image | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if product.featured_image.width >= 1100 -%}{{product.featured_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if product.featured_image.width >= 1445 -%}{{ product.featured_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                  {%- if product.featured_image.width >= 1680 -%}{{ product.featured_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                  {%- if product.featured_image.width >= 2048 -%}{{ product.featured_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                  {%- if product.featured_image.width >= 2200 -%}{{ product.featured_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                  {%- if product.featured_image.width >= 2890 -%}{{ product.featured_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                  {%- if product.featured_image.width >= 4096 -%}{{ product.featured_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                  {{ product.featured_image | image_url }} {{ product.featured_image }}w
                "
                sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                src="{{ product.featured_image.src | image_url: width: 1445 }}"
                alt="{{ product.featured_image.alt | escape }}"
                loading="lazy"
                width="1100"
                height="{{ 1100 | divided_by: product.featured_image.aspect_ratio | ceil }}"
              >
            {%- else -%}
                {{ 'image' | placeholder_svg_tag }}
            {%- endif -%}
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="product-single__meta">
              <h2 class="product-single__title">{{ product.title }}</h2>
              
              {% render 'product-stock-info', current_variant: current_variant, section: section %}
              
              {% render 'price', product: product, current_variant: current_variant, section: section, block: null %}
              
              <p class="product-single__description">
                Belle Multipurpose Bootstrap 4 Html Template that will give you and your customers a smooth shopping
                experience which can be used for various kinds of stores such as fashion,...
              </p>
              
              {% render 'product-variant-picker', product: product, block: null, change_url: false %}

              {% render 'quantity-selector', current_variant: current_variant, section: section, product_form_id: product_form_id, block: null %}
              
              {% render 'buy-buttons', section: section, product: product, product_form_id: product_form_id, block: null, current_variant: current_variant %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Quick View",
  "settings": []
}
{% endschema %}
